.map-background {
    background-image: url(../assets/city.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.quest-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.quest-links {
    font-size: 4rem;
    color: lawngreen;
    background: rgba(240, 128, 128, 0.219);
}

