

.char-page {
background-color: #0E0321;
background-image: url(../assets/cyberBackground.jpeg);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
.char-page main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-page header {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quest-head {
    font-size: 4rem;
    font-family: fantasy;
    color: limegreen;
    text-decoration: underline;
}

h2 {
    font-size: 2em;
}

.char-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.char-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 2rem;
    font-family: fantasy;
    color: limegreen;
}

.char-page input {
    margin-top: 10px;
    font-size: 2rem;
    border-radius: 25%;

}

.char-page button {
    margin: 10px;
    font-size: 3rem;
    background-color: orangered;
    color: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: solid limegreen 3px;
}
.user-form img {
    height: 200px;
}
.pics {
    display: none;
  }
  
  input:checked + img {
    border: solid 3px red;

  }

  .div-grid {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr 1fr;
      padding-top: 30px;
      justify-self: center;
      text-align: center;
  }

  .quest-p {
      font-size: 1.5rem;
      font-family: fantasy;
      margin: 20px;
      line-height: 40px;
  }

  .quest-image {
      display: block;
      margin-right:auto;
      margin-left: auto;
  }
  
  .choice-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 2rem;
      font-family: fantasy;
  }

  .choice-form input:checked {
        background-color: red;
  }

  

  .choice-button {
      font-size: 1.5rem;
      margin: 20px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: solid black 5px;
      background-color: darkgreen;
      color: yellowgreen;
  }

  .quest-header {
      font-size: 3rem;
      background-color: red;
      color:whitesmoke;
  }

  .quest-title {
      font-size: 5rem;
      text-align: center;
      text-decoration: underline;
      color: yellowgreen;
  }

  .quest-background {
      background: darkolivegreen;
  }

  .results{
    font-size: 5rem;
    font-family: fantasy;
    text-align: center;
    color:limegreen;
  }

  .results-background {
      background-image: url(../assets/5g.png);
  }

  .results-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3rem;
      text-align: center;
      color: orangered;
      background-color:rgba(255, 0, 0, 0.192);
  }