main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px;
}

h2 {
    font-size: 2em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    margin-top: 10px;
}

button {
    margin: 10px;
}